.main-logo {
  max-width: 80px;
  margin-right: 15px;
}

.custom-link {
  border: 1px solid lightgrey;
  border-radius: 20px;
  padding: 5px 10px;
  color: lightgrey;
  transition: all 200ms ease-in-out;
  margin-left: 10px;
}

.custom-link:hover {
  border: 1px solid grey;
  color: grey;
}

.upper-padding {
  padding-top: 8rem;
}

.down-padding {
  padding-bottom: 4rem;
}

.page-height {
  min-height: 95vh;
}

.card-pizza {
  margin-bottom: 1.5rem;

  .card {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      margin: 0!important;
      top: 0;
      left: 0;
      width: 100%!important;
      height: auto!important;
      z-index: 1;
    }

    .descriptor {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      transition: all 200ms ease-in-out;
      background-color: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);

      .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;

        h3 {
          font-size: 1.5rem;
          font-style: italic;
          font-weight: bold;
        }

        span {
          font-size: 1rem;
          font-weight: 400;
        }
      }

      button {
        position: absolute;
        right: 5%;
        bottom: 5%;
      }
    }
  }

  .card:hover {
    .descriptor {
      top: 0;
    }
  }
}


.banner-img-wrapper {
  height: 100%;
  position: relative;

  img {
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.pizza-modal {
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .description {
    margin-top: 10px;
    p {
      margin: 0;
      font-size: 1rem;
      text-align: center;
      font-style: italic;
    }
  }
}


.extras-form {
  width: 100%;
  display: contents;

  .ant-form-item {
    width: calc(100%/3);
    margin-bottom: 1rem;

    .ant-form-item-label {
      padding: 0;
      text-align: center;

      label {
        font-size: 0.9rem;
        font-weight: 300;
      }
    }

    small {
      font-size: 0.8;
      font-weight: 500;
      font-style: italic;
      margin-bottom: 0.2rem;
      display: block;
      text-align: center;
    }

    button {
      margin: 0 auto;
      display: block;
      margin-top: 10px;
    }
  }
}
